@import "settings";

$footer-height: 160px;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.row {
  .header {
    background-color: $body-bg;
    padding: 0;
  }
}

.body {
  background-color: $body-bg;
}

.page-wrapper {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

* html {
  .page-wrapper {
    height: 100%;
  }
}

.page-buffer {
  height: $footer-height;
}
// Vertical align
.valign-middle {
  display: table;
}

.valign-middle .columns {
  display: table-cell;
  vertical-align: middle;
}

.valign-middle .columns,
.valign-middle [class*="column"] + [class*="column"]:last-child {
  float: none;
}

// Search bar
.search-bar {
  .search-icon {
    margin: 5px 0 0 5px;
  }
  .search-input {
    border-radius: 10px;
  }
}

.price-panel {
  background-color: $custom-panel-light-bg;
  color: $black;
  border-radius: 1em;
  padding: 1em 0.5em;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(38, 38, 38, 0.85);
  -moz-box-shadow:    5px 5px 5px 0px rgba(38, 38, 38, 0.85);
  box-shadow:         5px 5px 5px 0px rgba(38, 38, 38, 0.85);
}