$thumbnail-search-size: 200px;
$thumbnail-full-size: 100%;
$common-image-size: 180px;

.search-image {
  max-width: $thumbnail-search-size;
  max-height: $thumbnail-search-size;
}

.full-image {
  max-width: $thumbnail-full-size;
  max-height: $thumbnail-full-size;
}

.common-image {
  max-width: $common-image-size;
  max-height: $common-image-size;
}



