$thumbnail-search-size: 200px;
$thumbnail-full-size: 100%;

.search-image {
  max-width: $thumbnail-search-size;
  max-height: $thumbnail-search-size;
}

.full-image {
  max-width: $thumbnail-full-size;
  max-height: $thumbnail-full-size;
}

